[submodule "scripts/utility/pathogen.vim"]
	path = scripts/utility/pathogen.vim
	url = http://github.com/vim-scripts/pathogen.vim.git
[submodule "scripts/utility/rails.vim"]
	path = scripts/utility/rails.vim
	url = http://github.com/vim-scripts/rails.vim.git
[submodule "scripts/utility/cucumber.zip"]
	path = scripts/utility/cucumber.zip
	url = http://github.com/vim-scripts/cucumber.zip.git
[submodule "scripts/color_scheme/fruity.vim"]
	path = scripts/color_scheme/fruity.vim
	url = http://github.com/vim-scripts/fruity.vim.git
[submodule "scripts/syntax/haml.zip"]
	path = scripts/syntax/haml.zip
	url = http://github.com/vim-scripts/haml.zip.git
[submodule "scripts/syntax/RDoc"]
	path = scripts/syntax/RDoc
	url = http://github.com/vim-scripts/RDoc.git
[submodule "scripts/utility/fugitive.vim"]
	path = scripts/utility/fugitive.vim
	url = http://github.com/vim-scripts/fugitive.vim.git
[submodule "scripts/utility/ack.vim"]
	path = scripts/utility/ack.vim
	url = http://github.com/vim-scripts/ack.vim.git
[submodule "scripts/utility/Align"]
	path = scripts/utility/Align
	url = http://github.com/vim-scripts/Align.git
[submodule "scripts/utility/SuperTab"]
	path = scripts/utility/SuperTab
	url = http://github.com/vim-scripts/SuperTab.git
[submodule "scripts/utility/ctags.vim"]
	path = scripts/utility/ctags.vim
	url = http://github.com/vim-scripts/ctags.vim.git
[submodule "scripts/utility/Gist.vim"]
	path = scripts/utility/Gist.vim
	url = http://github.com/vim-scripts/Gist.vim.git
[submodule "scripts/utility/ZoomWin"]
	path = scripts/utility/ZoomWin
	url = http://github.com/vim-scripts/ZoomWin.git
[submodule "scripts/syntax/Markdown"]
	path = scripts/syntax/Markdown
	url = http://github.com/vim-scripts/Markdown.git
[submodule "scripts/utility/endwise.vim"]
	path = scripts/utility/endwise.vim
	url = http://github.com/vim-scripts/endwise.vim.git
[submodule "scripts/utility/surround.vim"]
	path = scripts/utility/surround.vim
	url = http://github.com/vim-scripts/surround.vim.git
[submodule "scripts/color_scheme/vividchalk.vim"]
	path = scripts/color_scheme/vividchalk.vim
	url = http://github.com/vim-scripts/vividchalk.vim.git
[submodule "scripts/color_scheme/vibrantink"]
	path = scripts/color_scheme/vibrantink
	url = http://github.com/vim-scripts/vibrantink.git
[submodule "scripts/utility/CSApprox"]
	path = scripts/utility/CSApprox
	url = http://github.com/vim-scripts/CSApprox.git
[submodule "scripts/utility/The-NERD-tree"]
	path = scripts/utility/The-NERD-tree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "scripts/syntax/JavaScript-syntax"]
	path = scripts/syntax/JavaScript-syntax
	url = https://github.com/vim-scripts/JavaScript-syntax
[submodule "scripts/utility/gitv"]
	path = scripts/utility/gitv
	url = https://github.com/vim-scripts/gitv
[submodule "scripts/utility/extradite.vim"]
	path = scripts/utility/extradite.vim
	url = https://github.com/vim-scripts/extradite.vim
[submodule "scripts/color_scheme/Solarized"]
	path = scripts/color_scheme/Solarized
	url = https://github.com/vim-scripts/Solarized
[submodule "scripts/utility/vim-coffee-script"]
	path = scripts/utility/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script
[submodule "scripts/utility/DrawIt"]
	path = scripts/utility/DrawIt
	url = https://github.com/vim-scripts/DrawIt
[submodule "scripts/utility/preview.vim"]
	path = scripts/utility/preview.vim
	url = https://github.com/vim-scripts/preview.vim
[submodule "scripts/utility/jsonvim"]
	path = scripts/utility/jsonvim
	url = https://github.com/vim-scripts/jsonvim
[submodule "scripts/syntax/JSON.vim"]
	path = scripts/syntax/JSON.vim
	url = https://github.com/vim-scripts/JSON.vim
[submodule "scripts/utility/Vimerl"]
	path = scripts/utility/Vimerl
	url = https://github.com/vim-scripts/Vimerl
[submodule "scripts/syntax/jade.vim"]
	path = scripts/syntax/jade.vim
	url = https://github.com/vim-scripts/jade.vim
[submodule "scripts/utility/Tabular"]
	path = scripts/utility/Tabular
	url = https://github.com/vim-scripts/Tabular
[submodule "scripts/syntax/Puppet-Syntax-Highlighting"]
	path = scripts/syntax/Puppet-Syntax-Highlighting
	url = git://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
